// This is an example of credentials. You should copy this file as
// credentials.js with the correct credentials for AWS.

module.exports = {
    aws_access_key_id: "PUT_ACCESS_KEY_ID_HERE",
    aws_secret_access_key: "PUT_SECRET_ACCESS_KEY_HERE"
}